.footer {
  padding: 4rem 6rem;
  background-color: black;
  color: #fff;
}

.top {
  display: flex;
  align-items: center;
  text-align: start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.top .fa-icon {
  color: #fff;
  font-size: 2rem;
  margin-left: 1rem;
}

.top .fa-icon:hover {
  color: #2243b6;
}
